.events-list {
  background-color: #F0F4F8; /* Light blue background */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.events-list h1 {
  font-size: 8vw;
  color: #2C5282; /* Dark blue text color */
  font-weight: bold;
  margin-bottom: 20px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  margin-bottom: 3vh;
  border-width: 2px;
  border-color: #2c8241; /* Dark blue border color */
  border-radius: 5px;
  background-color: #d3d3d3; /* White background */
}

.add-event {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  color: #2C5282; /* Dark blue text color */
  text-decoration-line: underline;
}

.information {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.image {
  width: 40vw;
  height: 25vw;
  object-fit: cover; /* Ensure images maintain their aspect ratio */
}

.information h2 {
  font-size: 20px;
  font-weight: bold;
  color: #2C5282; /* Dark blue text color */
}
